<!--
  ~ Copyright Truesense AI Solutions Pvt Ltd, All Rights Reserved.
  -->


<div fxFlexFill
	fxLayout="column">

	<app-menu-bar (toggleAiPanel)="aiPanelExpanded = !aiPanelExpanded"></app-menu-bar>

	<!-- AI chat panel will be placed in the flex layout below -->

	<app-tool-bar></app-tool-bar>

	<!-- HACK: style="height: 500px; overflow: auto;" -->
	<!-- this ensures object-inspector does not outgrow parent -->
	<div fxFlex
		fxLayout="row"
		fxLayoutAlign="space-between stretch"
		fxLayoutGap="0px"
		style="height: 500px; overflow: hidden;">

		<div fxFlex
			fxLayout="column"
			fxLayoutAlign="space-around"
			fxLayoutGap="0px">

			<app-viewport fxFlex="70"></app-viewport>

			<mat-tab-group fxFlex="30">
				<mat-tab label="Project Browser">
					<app-project-browser></app-project-browser>
				</mat-tab>
				<mat-tab [label]="consoleLabel">
					<app-console></app-console>
				</mat-tab>
			</mat-tab-group>

		</div>

		<div fxFlex="24" fxLayout="column" style="background: #333333;">
            <app-object-inspector class="app-object-inspector" [fxFlex]="inspectorHeight"></app-object-inspector>
            <app-graph-viewport *ngIf="isElevationToolOpened" [fxFlex]="graphHeight"></app-graph-viewport>
        </div>

		<!-- AI chat panel, integrated cleanly into the layout -->
		<app-ai-chat-panel
			*ngIf="aiFeatureEnabled"
			[class.collapsed]="!aiPanelExpanded"
			[style.width.px]="aiPanelExpanded ? 340 : 40"
			[style.minWidth.px]="aiPanelExpanded ? 340 : 40"
			[style.flexBasis.px]="aiPanelExpanded ? 340 : 40"
			(collapsedChange)="aiPanelExpanded = !aiPanelExpanded">
		</app-ai-chat-panel>

	</div>

	<app-status-bar></app-status-bar>
	<app-tooltip></app-tooltip>

</div>
